<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.nikon.snapbridge.cmru" platformBuildVersionCode="2623000" platformBuildVersionName="2.6.2">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:allowBackup="false" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.nikon.snapbridge.cmru.SnapBridgeApplication" android:resizeableActivity="false" android:supportsRtl="false" android:theme="@style/AppTheme">
        <activity android:configChanges="orientation|screenSize" android:label="@string/app_name" android:launchMode="singleInstance" android:name="com.nikon.snapbridge.cmru.ui.init.NkLLicenceActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="bptcm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/com.nikon.snapbridge.cmru"/>
            </intent-filter>
        </activity>
        <activity android:name="com.nikon.snapbridge.cmru.presentation.filter.FilterActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.nikon.snapbridge.cmru.presentation.filter.FolderSelectActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.nikon.snapbridge.cmru.presentation.filter.ItemSelectActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.nikon.snapbridge.cmru.presentation.bleremotecontroller.BleRemoteControllerActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.nikon.snapbridge.cmru.presentation.bleremotecontroller.SpecialShootingModeSelectActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.nikon.snapbridge.cmru.frontend.NklBackendReceiver">
            <intent-filter>
                <action android:name="com.nikon.snapbridge.cmru.backend.camera.NOTIFY_CAMERA_BATTERY_STATUS"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.camera.NOTIFY_IMAGE_TRANSFER_STATUS"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.camera.NOTIFY_CAMERA_NOT_FOUND"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.camera.NOTIFY_IMAGE_TRANSFER_START"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.camera.NOTIFY_IMAGE_TRANSFER_FINISHED"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.web.NOTIFY_WEB_NIS_UPLOAD_ERROR"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.web.NOTIFY_WEB_NIS_UPLOAD_START"/>
                <action android:name="com.nikon.snapbridge.cmru.backend.web.NOTIFY_WEB_NIS_UPLOAD_FINISHED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.nikon.snapbridge.cmru.frontend.StartupReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.nikon.snapbridge.cmru.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <service android:name="com.nikon.snapbridge.cmru.backend.presentation.services.camera.CameraService" android:process=".SnapBridgeCameraService"/>
        <service android:name="com.nikon.snapbridge.cmru.backend.presentation.services.web.WebService"/>
        <provider android:authorities="com.nikon.snapbridge.cmru.lifecycle-trojan" android:exported="false" android:multiprocess="true" android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>